/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 juil. 2018, 12:52:40
    Author     : Administrateur
*/
h1{
      display: flex;
    justify-content: center;
}
form{
    display: flex;
    justify-content: center;
}
#contenu{
    padding: 170px 0;
}

